* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: #008080;
  overflow: auto;
}

#jsonfileinput {
  margin-bottom: 5px;
}

.custom-json-upload {
  background-color: transparent;
  color: white;
  border-radius: 4px;
  display: inline-block;
  padding: 3px 6px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 50px;
  margin-bottom: 5px;
  
}

.custom-pathway-upload {
  background-color: transparent;
  color: white;
  border-radius: 4px;
  display: inline-block;
  padding: 3px 6px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
}



#chart-container {
  position: relative;
  height: 85vh;
  overflow: hidden;
  width: 1200px;
  margin-left: 100px;
  margin-bottom: 10px;
  border-radius:20px;
  border: 1px solid rgb(92, 92, 92);
  background-color:#f1f1f1;
  
}


#leftbox {
  float: left;
  width: 12%;
  height: 80px;
}

#fillbox {
  float: left;
  width: 5%;
  height: 80px;

}

#middlebox {
  float: left;
  width: 75%;
  height: 45px;
  padding-top: 30px;
}

li a {
  text-decoration: none;
  color: #2d2f31;
}


nav {
  width: 200px;
  background: #d9d9d9;

}

label {
  padding: 8px;
  background: #2d2f31;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  display: block;
  border-radius: 10px;
}
span::before {
  float: right;
  right: 10%;
  content: "+";
}


.slide {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  border-radius: 20px;
}

.slide li {
  padding: 4px;
}

#getPatient {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#getPatient:checked+.slide {
  height: auto;
}

#guidelinesHeader {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#guidelinesHeader:checked+.slide {
  height: auto;  
}

[id *="specificGuideline"] {
  position: absolute;
  opacity: 0;
  height: 0px;
}

[id *="specificGuideline"]:checked+.slide {
  height: auto;

}
